doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='meme')
    title TEAM MEME
    link(href='css/style.css', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Orbitron", rel="stylesheet")
  body
    #map
    #sim
        #menu.menu
            button#demo1Button.demoButton(style="left:2%", onclick="demo1()")
                |DEMO 1
            button#demo1Button.demoButton(style="left:17%", onclick="demo1()")
                |DEMO 2
            button#demo1Button.demoButton(style="left:32%", onclick="demo1()")
                |DEMO 3
            button#customDemoButton.demoButton(style="left:47%", onclick="customDemo()")
                |CUSTOM
            input#startTime.demoButton.timeField(style="left:62%")
            input#duration.demoButton.timeField(style="left:81%")
        #control.menu
            button#startButton.demoButton(style="left:2%", onclick="activeSim.begin()")
                |START
            button#endButton.demoButton(style="left:17%", onclick="endDemo()")
                |END
            button#demo1Button.demoButton(style="left:32%;width:7%", onclick="activeSim.increaseScale()")
                |+
            button#customDemoButton.demoButton(style="left:41%;width:7%", onclick="activeSim.decreaseScale()")
                |-
            #hour.timeDisplay(style="right:36%")
                |00
            #colon.timeDisplay(style="right:34%;width:5%")
                |:
            #min.timeDisplay(style="right:19%")
                |00
            #colon.timeDisplay(style="right:17%;width:5%")
                |:
            #second.timeDisplay
                |00
    #phone
        #background
        button#openButt(onclick="togglePhone()", open=false)
            |<<
        #phoneMenu
            button#submitNumber(style="right:12%;width:9%", onclick="submitNum()")
                |SUBMIT
            input#phoneNumber
    != gen.keys()
    != gen.js()
    script(src="https://maps.googleapis.com/maps/api/js?key="+gen.mapkey()+"&callback=initMap", async, defer)